@charset "UTF-8";
/*iNÍCIO CSS gLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.topo{
    background-image: url(img/banner-topo.jpg);
    width: 100%;
    padding: 120px 80px;
    background-position: center;
    background-size: cover;
}

.logo{
    max-width: 250px;
    color: #3c184e;

}
.p1{
    font-size: 30px;
    margin:0 0 5px 0;
    font-weight: bold;

}

.p1 img{
    width: 30px;
    margin-right: 5px;
}
.p2{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.banner{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;

}
.banner h1{
    font-size: 50px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
}
.banner p{
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}
.banner p a{
    color: white;
}
.banner p img{
    width: 20px;
}
.servicos{
    width: 100%;
    padding: 120px 80px;

}
.servicos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}
.conteudo{
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.servicos ul li{
    font-size: 20px;
    margin-bottom: 20px;
}
span{
    font-weight: 700;
    font-style: italic;
}
.imagens{
    max-width: 800px;
    margin: 0 auto;
    align-items: center;

}
.imagens img{
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}
.faixa{
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}
.faixa p{
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
.branco{
    font-weight: 700;
    font-style: italic;
}
.faixa a{
    margin: 0 20px;
}
.faixa img{
    width: 50px;
    height: 50px; 
}
.marcas{
    width: 100%;
    padding: 120px 80px;
}
.marcas h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}
.marcas div{
    max-width: 800px;
    margin: 0 auto;
}
.marcas img{
    width: 148px;
    height: 148px;
    margin: 0 15px;
}